@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
body{
  font-family: "Jost", sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #87CEEB;
}

.container{
  border-radius: 25px;
  background-color: rgb(116, 176, 200);
  /* width: 25vw;
  height: 50vh; */
  box-shadow: 4px 5px 6px;
 
}
.header{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.7em;
  font-weight: 700 ;
  border-bottom:1px solid white ;
  padding: 10px;
  margin-bottom: 20px;
}
.addTask{
  display: flex;
  justify-content: space-evenly;
}
#inputTask{
  padding:7px ;
  border-radius: 25px;
}
button{
background-color:rgb(124, 171, 179);
border-radius: 20px;
height: 40px;
}
.btn-parent{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
}
button:hover{

  border: 1px solid black;
  box-shadow: 2px 2px 2px;
  font-size: 0.9rem;
}
.info{
  /* width: 210px; */
  display:flex;
  margin: auto;
flex-direction: column;
align-items: center ;
  justify-content: center;
}

.wave{
  opacity: 0.3;
  position: absolute;
  top: 120%;
  left: 50%;
  background: rgb(129, 158, 184);
  width: 10rem;
  height: 10rem;
  margin-left: -25rem;
  margin-top: -20rem;
  transform-origin: 50% 48% ;
  border-radius: 43%;
  animation: drift 3000ms infinite linear;
  z-index: 1;
}
.wave-three{
  opacity: 0.2;
  animation: drift 5000ms infinite linear;
  z-index: 2 !important;
}
.wave-two{
  opacity: 0.1;
  animation: drift 7000ms infinite linear;
  z-index: 3 !important;
}
@keyframes drift {
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}

